*.pyc
*ode_modules/*
*.secret
secret/*
tmp/*
*uild/*
*/.gradle/*
*gradle\*
*.bin
*.xml
*.lock
.idea\*
R.java
valu*.json
webapp\Deckboi\android\*
*ndroid/*
apps/Chatboi/db/*
apps/Chatboi/node_modules/*
apps/Deckboi/android/*
apps/Deckboi/ios/*
apps/Deckboi/ios/*
apps/Deckboi/com/*
*.prefs
BuildConfig/*
*.log
socket/node_modules/*